<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
</head>
<body>
    <h1>Home page (unauthenticated) </h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/authentication/sign-up">Sign up</a></li>
        <li><a href="/games/42">Games</a></li>
    </ul>
</body>
</html>