<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<body>
      <h1>Poker </h1>
      <div class="btn-1">
      <ul><a href="/"><span>Home</span></a></ul>
      <ul><a href="/games/42"><span>Game</span></a></ul>
      <ul><a href="/lobby"><span>Lobby</span></a></ul>
      <ul><a href="/profile"><span>Profile</span></a></ul>
      <ul><a href="/authentication/login"><span>login</span></a></ul>
    </div>

</body>
</html>
