<html>
  <head>
    <script src="/scripts/bundle.js" defer></script>
    <!-- <link rel="stylesheet" href="/stylesheets/home.css" /> -->
  </head>
  <body>
    <h1>Lobby</h1>

    <div class="btn-1">
      <ul><a href="/">Home</a></ul>
      <ul><a href="/authentication/login">Login</a></ul>
      <ul><a href="/authentication/sign-up">Sign Up</a></ul>
      <ul><a href="/lobby">Lobby</a></ul>
      <ul><a href="/games/42">Game (42)</a></ul>
      <ul><a href="/authentication/logout">Logout</a></ul>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm">
          <form method="post" action="/api/games/create">
            <input type="submit" value="Create Game" />
          </form>
          <ul id="game-list">
            <% for(let i = 0; i < games.length; i++) {%>
            <li>
              <a href="/api/games/<%= games[i].id %>/join"
                >Join <span><%= games[i].id %></span></a
              >
            </li>
            <% } %>
          </ul>
        </div>
        <div class="col-sm">
            <div id="chat-container">
              <div id="messages"></div>
                <label>
                <input id="chatMessage" name="chat-message" placeholder="Message..." />
                </label>
      </div>
    </div>
  </div>
</div>
<template id="available-game-item">
  <li><a href="#">Join <span>42</span></a></li>
</template>
  </body>
</html>