<!-- <html>
  <head>
    <script src="/scripts/bundle.js" defer></script>
     <link rel="stylesheet" href="/stylesheets/home.css" /> 
  </head>
  <body>
    <h1>Lobby</h1>

    <div class="btn-1">
      <ul><a href="/">Home</a></ul>
      <ul><a href="/authentication/login">Login</a></ul>
      <ul><a href="/authentication/sign-up">Sign Up</a></ul>
      <ul><a href="/lobby">Lobby</a></ul>
      <ul><a href="/games/42">Game (42)</a></ul>
      <ul><a href="/authentication/logout">Logout</a></ul>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm">
          <form method="post" action="/api/games/create">
            <input type="submit" value="Create Game" />
          </form>
          <ul id="game-list">
            <% for(let i = 0; i < games.length; i++) {%>
            <li>
              <a href="/api/games/<%= games[i].id %>/join"
                >Join <span><%= games[i].id %></span></a
              >
            </li>
            <% } %>
          </ul>
        </div>
        <div class="col-sm">
            <div id="chat-container">
              <div id="messages"></div>
                <label>
                <input id="chatMessage" name="chat-message" placeholder="Message..." />
                </label>
      </div>
    </div>
  </div>
</div>
<template id="available-game-item">
  <li><a href="#">Join <span>42</span></a></li>
</template>
  </body>
</html> -->



<!-- <html>
  <head>
    <form class='login'>
      <div class="flex">
        <ul class=profile>
          
          <div class= 'join'>
            
              <ul id="game-list"></ul>
                  <div id="chat-container">
                      <div id="messages"></div>
                  </div>
                  <template id="available-game-item">
                    <li><a href="#">Join <span>42</span></a></li>
                  </template>
          
              <ul class='btn-1'>
                <a href=""><form method="post" action="/api/games/create">
                  <input type="submit" value="Create Game" />
                </form> </a>
              </ul>
            <div id="chat-container">
               <div id="messages"></div>
               <label><input id="chatMessage" name="chat-message" placeholder="Message..." </label>
            </div>
          </div>
        </ul>
      </div>
    </form>
  </body>
</html>
 -->

 <html>
  <head>
    <script src="/scripts/bundle.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/lobby.css" />
  </head>
    
    <body>
      <ul class='home'><a href="/"><span>Home</span></a></ul>
      <div class="flex">
        <ul class=profile>
          <div class='join'>
              <ul class='header'><span>Join Game:</span></ul>
            <ul id="game-list" class='lit'>
              <% for(let i = 0; i < games.length; i++) {%>
                <li>
                  <a href="/api/games/<%= games[i].id %>/join"
                    >Join <span><%= games[i].id %></span></a
                  >
                </li>
                <% } %>
            </ul>
            <template id="available-game-item">
              <li><a href="#">Join <span>42</span></a></li>
            </template>


            <form method="post" action="/api/games/create">
              <ul class='btn-1'>
                <a href="">
                  <form method="post" action="/api/games/create">
                    <input type="submit" value="Create Game" class='create' />
                  </form>
                </a>
              </ul>
            </form>


          </div>
        </ul>
        <div id="chat-container" >
                <div id="messages"></div>
                <label><input class='inputt' id="chatMessage" name="chat-message" placeholder="Message..." /></label>
              </div>
      </div>
      </form>
    </body>
 
 </html>
<!-- <html>
  <head>
    <form class='login'>
      <div class="flex">
        <ul class=profile>
          
          <div class= 'user'>
              <h3>Player 1</h3>
              <img src=https://i.imgur.com/eM8b2bx.png width="200" height="200" class='player'></img>
              <img src=https://i.imgur.com/8AjeANv.jpg class='background' ></img>
          </div>
          <div class= 'user'>
              <h3>Player 2</h3>
              <img src=https://i.imgur.com/BDd7gAl.png width="200" height="200" class='player'></img>
              <img src=https://i.imgur.com/S0y7v6w.jpg class='background' ></img>
          </div>
          <div class= 'user'>
              <h3>Player 3</h3>
              <img src=https://i.imgur.com/BdJgtQA.png width="200" height="200" class='player'></img>
              <img src=https://i.imgur.com/QRAnaf5.jpg class='background' ></img>
          </div>
          <div class= 'user'>
              <h3>Player 4</h3>
              <img src=https://i.imgur.com/r0Fe6cP.png width="200" height="200" class='player'></img>
              <img src=https://i.imgur.com/3YrUIRD.jpg class='background' ></img>
          </div>
        </ul>
            <ul class='btn-1'>
              <a href="">
                <input class= 'start' type="submit" value="START">
              </a>
            </ul>
      </div>
    </form>
  </body>
</html> -->