<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/login.css" /> 
  </head>
  <body> 
    <form method="post" action="/authentication/login" class="login">
      <div class = "flex">
        <ul>
          <label>
            <input name="email" class='inputt' autocomplete="email" placeholder="Email" />
          </label>
          <label>
            <input name="password" class='inputt' type="password" autocomplete="current-password" placeholder = "Password" />
          </label>
          <ul class='btn-1'>
            <a href="">
              <input class= 'log' type="submit" value="Login">
            </a>
          </ul>
          <a class='forgot' href='#'>Forgot password?</a>
          <br><br>
          <ul><a class= 'text'> <span>Don't have an account?</span></a></ul>
          <input  class= 'sign' type="submit" value="SIGN UP" href="/authentication/sign-up">
        </ul>
      </div>
    </form>
  </body>
</html>