<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/login.css" /> -->
  </head>
  <body>
    <form method="post" action="/authentication/login">
      <label>
          <em>Email</em>
          <input name="email" autocomplete="email" placeholder="Email address" />
        </label>
    <label>
      <em>Password</em>
      <input name="password" type="password" autocomplete="current-password" />
    </label>
    <input type="submit" value="login" />
  </form>
    <!-- <a class='forgot' href='#'>Forgot password?</a> -->
  </body>
</html>