<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <form class='login'>
      <div class="flex">
        <ul>
        <input id="username" class='input' placeholder='Username' type='text'>
        <input id="password" class='input' placeholder='Password' type='password'>
          <ul class='btn-1'><a href=""><span>LOGIN</span></a></ul>
        </ul>
    
      </div>
    </form>
    <a class='forgot' href='#'>Forgot password?</a>
  </body>
</html>