<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <ul class='home'><a href="/"><span>Home</span></a></ul>
    <form  method="post" action="/authentication/sign-up" class='signup'>
      <div class="flex">
        <ul>
          <input name="email" class='input' placeholder='Email' type='text'>
          <input name="username" class='input' placeholder='Username' type='text'>
          <input name="password" class='input' placeholder='Password' type='password' autocomplete="new-password">
          <ul class='btn-1'>
              <a href="">
                  <input class= 'sign' type="submit" value="Register">
              </a>
              </ul>
          <br>
            <ul><a class= 'text'> <span>Already have an account?</span></a></ul>
            <a href="/authentication/login"><input  class= 'log' value="LOGIN"></a>
        </ul>
      </div>
    </form>
  </body>
</html>