<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <h1>Register page (unauthenticated)</h1>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/games/42">Games 42</a></li>
      <li><a href="/lobby">Lobby</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/authentication/login">Log In</a></li>
    </ul>

    <form class='login'>
  <div class="flex">
    <ul>
    <input id="username" class='input' placeholder='Username' type='text'>
    <input id="password" class='input' placeholder='Password' type='password'>
      <ul class='btn-1'><a href=""><span>SIGN UP</span></a></ul>
    </ul>

  </div>
</form>
    </form>
  </body>
</html>