<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Sign up (authenticated)</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/sign-up">Sign up</a></li>
        <li><a href="/games/42">Games</a></li>
    </ul>
</body>
</html>