body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background: url(https://i.pinimg.com/originals/a8/05/4b/a8054bd49daa169530dcb99b0c606a66.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.3em;
}
.gamesTable {
  border-radius: 25px;
  width: 1000px;
  height: 500px;
  background: rgba(167, 199, 231, 0.9);
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.gamesTable .cards {
  border-radius: 5px;
  background: url(https://ih1.redbubble.net/image.975426852.6322/flat,750x,075,f-pad,750x1000,f8f8f8.jpg)no-repeat ;
  background-size: 100px 150px;;
  width: 100px;
  height: 150px;
}

.card {
  height: 180px;
  width: 121px;
  background-image: url(/image/uno_deck.png);
}

.card.color-1 {
  background-position-y: -150px;
}

.background {
  width: 100px;
  height: 150px;
}
.inputt {
  flex: 3;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
  margin-top:100px;
  margin-left:10px;
}

.messages{
  background: rgba(1, 11, 1, 0.3);
  width: clamp(500px, 10vw, 1000px);
}
.messages:after {
  background: rgba(1, 11, 1, 0.9);
  width: clamp(500px, 10vw, 1000px);
}
.messages:hover:after{
  background: rgba(1, 11, 1, 0.9);
  width: clamp(500px, 10vw, 1000px);
}
.player1{
  margin-top:50px;
  font-size: 1.5em;
}
.player2{
  margin-top:20px;
  font-size: 1.5em;
}